<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="front.php" />
            </files>
        </defaultDocument>

        <fastCgi>
            <application fullPath="C:\PHP7\php-cgi.exe" activityTimeout="600" instanceMaxRequests="10000">
                <environmentVariables>
                    <environmentVariable name="PHP_FCGI_MAX_REQUESTS" value="10000" />
                </environmentVariables>
            </application>
        </fastCgi>
    </system.webServer>
</configuration>
